<h2>Оставьте нам сообщение </h2>

<form action="/contacts" method="POST" role="form">

	<div class="form-group">
		<label>Ваш e-mail</label>
		<input name="email" type="text" class="form-control" placeholder="Ваш e-mail">
	</div>
   
   <div class = "form-group">
      <label for = "name" >Ваше сообщение</label>
      <textarea class = "form-control" rows = "3" name="messege" placeholder="Сообщение ваше"></textarea>
   </div>
   
   <button type="submit" class="btn btn-primary">Отправить сообщение</button>
   
</form>

<p><%= @messege %></p>