<h2>Книжный каталог</h2>
<p>На этой странице доступен выбор книжных изданий для последующего изучения</p>

<form action="/catalog" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="namec" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>

   <label>Выберите мастера</label>

      <select class = "form-control" name="master">
         <option>Walter White</option>
         <option>Jessie Pinkman</option>
         <option>Gus Fring</option>
		</select>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<p><%= @messege %></p>
